/* Estilos generales para el menú */
ion-menu {
  --background: #f9f9f9;
  --ion-background-color: #ffffff;
}

ion-toolbar {
  --background: #4caf50;
  --color: #ffffff;
}

ion-title {
  font-size: 22px;
  font-weight: bold;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-card {
    margin-bottom: 20px;
  }
  
  .chart-container {
    padding: 16px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .charts-section {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    font-size: 24px;
    color: #333;
  }
  
  canvas {
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  