<app-navbar></app-navbar>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Dashboard</ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- Contenido principal del Dashboard -->
    <ion-grid>
      <ion-row>
        <!-- Tarjeta de Administradores Totales -->
        <ion-col size="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Admins</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              @for (admin of admins; track $index) {
              <h2>{{ admin.total_admins }}</h2>
              }
              <p>Administradores registrados actualmente</p>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Tarjeta de Usuarios Activos -->
        <ion-col size="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Usuarios</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              @for (user of usuarios; track $index) {
              <h2>{{ user.total_users }}</h2>
              }
              <p>Usuarios registrados actualmente</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- Tarjeta de Palabras más Traducidas -->
        <ion-col size="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Palabras Más Traducidas</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>Wai</h2> <!-- Aquí puedes mostrar la palabra más traducida -->
              <p>Esta palabra ha sido traducida 250 veces</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid></ion-content>
</div>