<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <i class='bx bx-log-out-circle icon'></i>
      </ion-button>
    </ion-buttons>
    <ion-title>Desafío 3: Familia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Evaluación de Vocabulario de la Familia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="enviarRespuestas()">
        <!-- Pregunta 1 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>1. ¿Cómo se dice "padre" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta1" name="pregunta1">
              <ion-item>
                <ion-label>Apa</ion-label>
                <ion-radio slot="start" value="apa"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Nuku</ion-label>
                <ion-radio slot="start" value="nuku"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 2 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>2. ¿Cómo se dice "madre" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta2" name="pregunta2">
              <ion-item>
                <ion-label>Nuku</ion-label>
                <ion-radio slot="start" value="nuku"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Uchi</ion-label>
                <ion-radio slot="start" value="uchi"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 3 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>3. ¿Cómo se dice "nieto" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta3" name="pregunta3">
              <ion-item>
                <ion-label>Nawánt</ion-label>
                <ion-radio slot="start" value="nawant"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tírank</ion-label>
                <ion-radio slot="start" value="tirank"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 4 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>4. ¿Cómo se dice "abuela" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta4" name="pregunta4">
              <ion-item>
                <ion-label>Nukuchích’</ion-label>
                <ion-radio slot="start" value="nukuchich"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Apachich’</ion-label>
                <ion-radio slot="start" value="apachich"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 5 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>5. ¿Cómo se dice "primo" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta5" name="pregunta5">
              <ion-item>
                <ion-label>Kaná kair</ion-label>
                <ion-radio slot="start" value="kana_kair"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Kaná umar</ion-label>
                <ion-radio slot="start" value="kana_umar"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 6 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>6. ¿Cómo se dice "hierno" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta6" name="pregunta6">
              <ion-item>
                <ion-label>Kaná kair</ion-label>
                <ion-radio slot="start" value="kana_kair"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Awer</ion-label>
                <ion-radio slot="start" value="awer"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 7 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>7. ¿Cómo se dice "cuñado" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta7" name="pregunta7">
              <ion-item>
                <ion-label>Wajér</ion-label>
                <ion-radio slot="start" value="wajer"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Nukuchích’</ion-label>
                <ion-radio slot="start" value="nukuchich"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 8 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>8. ¿Cómo se dice "cuñada" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta8" name="pregunta8">
              <ion-item>
                <ion-label>Nawánt</ion-label>
                <ion-radio slot="start" value="nawant"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Yuar</ion-label>
                <ion-radio slot="start" value="yuar"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 9 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>9. ¿Cómo se dice "prima" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta9" name="pregunta9">
              <ion-item>
                <ion-label>Kaná kair</ion-label>
                <ion-radio slot="start" value="kana_kair"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Tírank</ion-label>
                <ion-radio slot="start" value="tirank"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 10 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>10. ¿Cómo se dice "sobrino" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta10" name="pregunta10">
              <ion-item>
                <ion-label>Awer</ion-label>
                <ion-radio slot="start" value="awer"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Kaná kair</ion-label>
                <ion-radio slot="start" value="kana_kair"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <ion-button expand="full" type="submit">Enviar Respuestas</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Modal para mostrar el puntaje -->
  <div id="ventanaPuntaje" class="ventana-emergente" [ngClass]="{'mostrar': mostrarVentana}">
    <div class="contenido-ventana">
      <h2>Puntaje Final</h2>
      <p>Tu puntaje es: {{ puntaje }} de 10</p>
      <ion-button (click)="cerrarVentana()">Cerrar</ion-button>
    </div>
  </div>
</ion-content>