<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="perfil()">
      <!-- Botón con icono de perfil -->
      <ion-button>
        <i class='bx bxs-user-circle bx-md'></i>
      </ion-button>
    </ion-buttons>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Menú con botones coloridos -->
  <section class="mt-20">
    <div class="container mx-auto p-6 bg-white rounded-lg shadow-md">
      <ion-title class="text-2xl font-bold mb-4 ion-text-center">Seleccione una opción</ion-title>

      <ion-grid>
        <ion-row>
          <!-- Botón Aprender -->
          <ion-col size="12">
            <ion-button expand="block" color="primary" shape="round" size="large" (click)="aprender()">
              Aprender
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="success" shape="round" size="large" (click)="sonidos()">
              Sonidos
            </ion-button>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <!-- Botón Desafíos -->
          <ion-col size="12">
            <ion-button expand="block" color="warning" shape="round" size="large" (click)="desafios()">
              Desafíos
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <!-- Botón Regresar -->
          <ion-col size="12">
            <ion-button expand="block" color="danger" shape="round" size="large" (click)="regresar()">
              Regresar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
</ion-content>