<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Ingresa tus datos correspondientes</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cédula</ion-label>
    <ion-input type="text" [(ngModel)]="cedula"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Teléfono</ion-label>
    <ion-input type="text" [(ngModel)]="telefono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>
  @if (password !== confirmPassword) {
  <div class="form-floating flex flex-col gap-2 ion-padding">
    <span class="text-red-500">Las contraseñas no coinciden</span>
  </div>
  }
  <ion-button expand="block" color="primary" (click)="cambiarPassword()">Cambiar Clave</ion-button>
  <ion-button expand="block" color="medium" routerLink="/admin/login">Cancelar</ion-button>
</ion-content>