<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <!-- Dashboard -->
      <ion-item (click)="dashboard()" routerDirection="root" lines="none" class="menu-item">
        <i class='bx bxs-dashboard icon'></i>
        <ion-label>Dashboard</ion-label>
      </ion-item>

      <!-- Gestión de Usuarios -->
      <ion-item (click)="usuarios()" routerDirection="root" lines="none" class="menu-item">
        <i class='bx bxs-user icon'></i>
        <ion-label>Gestión de Usuarios</ion-label>
      </ion-item>

      <!-- Gestión de Administradores -->
      <ion-item (click)="admins()" routerDirection="root" lines="none" class="menu-item">
        <i class='bx bxs-user-detail icon'></i>
        <ion-label>Gestión de Administradores</ion-label>
      </ion-item>

      <!-- Perfil -->
      <ion-item (click)="perfil()" routerDirection="root" lines="none" class="menu-item">
        <i class='bx bxs-user-circle icon'></i>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <!-- Salir -->
      <ion-item (click)="salir()" routerDirection="root" lines="none" class="menu-item">
        <i class='bx bx-log-out icon'></i>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>