<ion-content>
  <div class="wrapper flex justify-center items-center w-screen h-screen">
    <div class="body flex flex-col gap-5 w-[80%]">
      <img class="img-login w-[150px] mx-auto" src="../../../assets/img/verificacion.png" alt="img-login">
      <h1 class="title text-center text-2xl font-bold">Registrate</h1>
      <form class="flex flex-col gap-3">
        <div class="form-floating flex flex-col gap-2">
          <label>Correo electrónico</label>
          <input type="email" class="form-control" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-floating flex flex-col gap-2">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="************">
        </div>
        <div class="form-floating flex flex-col gap-2">
          <label>Confirmar Password</label>
          <input type="password" class="form-control" placeholder="************">
        </div>
        <ion-button color="primary">Registrarte</ion-button>
      </form>
      <a onclick="history.back(); return false;"
        class="text-decoration-none text-center text-lg text-blue-500 font-bold">&larr;
        Volver</a>
    </div>
  </div>
</ion-content>