/* Estilos generales para el menú */
ion-menu {
  --background: #f9f9f9;
  --ion-background-color: #ffffff;
}

ion-toolbar {
  --background: #4c5baf;
  --color: #ffffff;
}

ion-title {
  font-size: 22px;
  font-weight: bold;
}

.icon {
  color: #ffffff;
  font-size: 22px;
}