<ion-header class="fixed z-50">
    <ion-toolbar>
        <ion-title>Traductor</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" routerLink="/login">Empezar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <section>
        <div class="mt-20">
            <div class="flex flex-col gap-4 text-center">
                <div>
                    <h1 class="text-3xl pb-2">Aprende Español con Shuar</h1>
                    <h2 class="text-xl">Traducción Bidireccional</h2>
                </div>
                <p>
                    Bienvenido a nuestra aplicación diseñada para ayudar a los hablantes de Shuar a aprender español.
                    Con nuestra herramienta, podrás traducir fácilmente entre Shuar y español, facilitando el
                    aprendizaje y la comunicación en tu día a día.
                </p>
            </div>
            <figure class="mt-10">
                <img class="w-40 mx-auto" src="assets/icon/favicon.png" alt="Imagen del traductor" />
            </figure>
        </div>
    </section>
    <section>
        <div class="mt-20 grid grid-cols-2 gap-4">
            <div>
                <h3 class="text-base font-bold">Aprenderás</h3>
                <p>Nuestra aplicación está especialmente diseñada para hablantes de Shuar que desean aprender español. A
                    través de traducciones precisas y ejercicios prácticos, te ayudaremos a mejorar tu habilidad en el
                    español.</p>
            </div>
            <div>
                <h3 class="text-base font-bold">Te Ayudamos</h3>
                <p>Ofrecemos una interfaz amigable y recursos educativos para facilitar tu aprendizaje del español.
                    Además, tendrás acceso a soporte y consejos personalizados para resolver cualquier dificultad que
                    encuentres en el proceso.</p>
            </div>
        </div>
    </section>
    <section>
        <div class="mt-20 flex gap-4">
            <div class="w-[70%]">
                <h3 class="text-xl font-bold">Shuar / Español</h3>
                <p>La aplicación ofrece una traducción bidireccional que permite a los hablantes de Shuar aprender y
                    practicar español de manera efectiva. Simplificamos el proceso de aprendizaje con herramientas
                    diseñadas para mejorar tu fluidez y comprensión del idioma.</p>
            </div>
            <figure>
                <img class="w-40 mx-auto" src="assets/icon/favicon.png" alt="Imagen de traducción" />
            </figure>
        </div>
    </section>
</ion-content>