<ion-header class="fixed z-50">
    <ion-toolbar>
        <ion-title>Traductor</ion-title>
        <ion-buttons slot="end">
            <ion-button color="primary" routerLink="/login">Iniciar Sesión</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Traductor -->
    <section class="mt-20">
        <div class="container mx-auto p-6 bg-white rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-4 ion-text-center">Traductor Bidireccional</h1>
            <p class="ion-text-center mb-6 text-gray-600">Shuar - Español</p>

            <!-- <ion-item class="mb-6">
                <ion-label position="floating">Idioma de origen:</ion-label>
                <ion-select id="fromLanguage" [(ngModel)]="fromLanguage" (change)="toggleLanguage()">
                    <ion-select-option value="shuar">Shuar</ion-select-option>
                    <ion-select-option value="espanol">Español</ion-select-option>
                </ion-select>
            </ion-item> -->

            <div class="form-group mb-6">
                <label for="textToTranslate" class="block text-sm font-medium text-gray-700">Texto a traducir:</label>
                <textarea id="textToTranslate" [formControl]="textControl" [(ngModel)]="txt_texto"
                    class="form-control mt-1 block w-full p-3 border rounded-lg shadow-sm"
                    placeholder="Ingresa aquí el texto..." (focusout)="traducir()"></textarea>
            </div>
            <ion-button expand="block" color="primary" (click)="traducir()">Traducir</ion-button>

            @if (translation) {
            <div class="mt-6 p-4 border border-gray-200 rounded-lg bg-gray-50">
                <h2 class="text-lg font-semibold mb-2">Traducción:</h2>
                <p><b>{{ translation }}</b> - {{ tr }}</p>
            </div>
            }
        </div>
    </section>

    <section>
        <div class="mt-20">
            <div class="ion-text-center">
                <div>
                    <h2 class="text-3xl font-bold pb-2">Aprende Español con Shuar</h2>
                    <ion-label class="text-xl font-semibold">Traducción Bidireccional</ion-label>
                </div>
                <p class="text-lg">
                    Bienvenido a nuestra aplicación diseñada para ayudar a los hablantes de Shuar a aprender español.
                    Con nuestra herramienta, podrás traducir fácilmente entre Shuar y español, facilitando el
                    aprendizaje y la comunicación en tu día a día.
                </p>
            </div>
            <figure class="mt-10 ion-text-center">
                <ion-img class="w-50 mx-auto" src="assets/img/Shuar rostro_1.jpg" alt="Imagen del traductor"></ion-img>
            </figure>
        </div>
    </section>

    <!-- Información adicional -->
    <section>
        <div class="mt-20 ion-grid">
            <ion-row>
                <ion-col size="12" size-md="6">
                    <ion-title class="text-lg font-bold mb-2">Aprenderás</ion-title>
                    <p class="text-gray-700">
                        Nuestra aplicación está especialmente diseñada para hablantes de Shuar que desean aprender
                        español.
                        A través de traducciones precisas y ejercicios prácticos, te ayudaremos a mejorar tu habilidad
                        en el
                        español.
                    </p>
                </ion-col>
                <ion-col size="12" size-md="6">
                    <ion-title class="text-lg font-bold mb-2">Te Ayudamos</ion-title>
                    <p class="text-gray-700">
                        Ofrecemos una interfaz amigable y recursos educativos para facilitar tu aprendizaje del español.
                        Además, tendrás acceso a soporte y consejos personalizados para resolver cualquier dificultad
                        que
                        encuentres en el proceso.
                    </p>
                </ion-col>
            </ion-row>
        </div>
    </section>

    <section>
        <div class="mt-20 ion-text-center">
            <ion-row class="ion-justify-content-center">
                <ion-col size="12" size-md="8">
                    <ion-title class="text-xl font-bold mb-2">Shuar / Español</ion-title>
                    <p class="text-gray-700">
                        La aplicación ofrece una traducción bidireccional que permite a los hablantes de Shuar aprender
                        y
                        practicar español de manera efectiva. Simplificamos el proceso de aprendizaje con herramientas
                        diseñadas para mejorar tu fluidez y comprensión del idioma.
                    </p>
                </ion-col>
                <ion-col size="12" size-md="4">
                    <figure>
                        <ion-img class="w-50 mx-auto" src="assets/img/SHUAR1.jpg" alt="Imagen de traducción"></ion-img>
                    </figure>
                </ion-col>
            </ion-row>
        </div>
    </section>
</ion-content>