<ion-content>
  <div class="wrapper flex justify-center items-center w-screen h-screen">
    <div class="body flex flex-col gap-5">
      <img class="img-login w-[300px] mx-auto" src="../../../assets/img/inicioSesion.jpg" alt="img-login">
      <h1 class="title text-center text-2xl font-bold">Iniciar Sesión</h1>
      <div class="form-floating flex flex-col gap-2">
        <label>Cédula</label>
        <input type="text" class="form-control" placeholder="Ingrese su número de cédula" [(ngModel)]="cedula">
      </div>
      <div class="form-floating flex flex-col gap-2">
        <label>Contraseña</label>
        <input type="password" class="form-control" placeholder="************" [(ngModel)]="password">
      </div>
      <ion-button color="primary" (click)="login()">Iniciar Sesión</ion-button>
      <a routerLink="/admin/recuperar-password" class="text-center">¿Olvidaste tu contraseña?</a>
      <a routerLink="/home" class="text-decoration-none text-center text-lg text-blue-500">&larr; Ir al
        inicio</a>
    </div>
  </div>
</ion-content>