<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <i class='bx bx-log-out-circle icon'></i>
      </ion-button>
    </ion-buttons>
    <ion-title>Desafío 2: Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Evaluación sobre Animales</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="enviarRespuestas()">
        <!-- Pregunta 1 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>1. ¿Cuál de los siguientes animales es un mamífero en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta1" name="pregunta1">
              <ion-item>
                <ion-label>Uunt yawá</ion-label>
                <ion-radio slot="start" value="uunt_yawá"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>´Kawá</ion-label>
                <ion-radio slot="start" value="kawá"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 2 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>2. ¿Cuál de los siguientes animales es un animal doméstico?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta2" name="pregunta2">
              <ion-item>
                <ion-label>Chaí</ion-label>
                <ion-radio slot="start" value="chai"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Yawá</ion-label>
                <ion-radio slot="start" value="yawá"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 3 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>3. ¿Cuál de los siguientes animales vuela?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta3" name="pregunta3">
              <ion-item>
                <ion-label>Ámpush</ion-label>
                <ion-radio slot="start" value="ampush"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Katíp</ion-label>
                <ion-radio slot="start" value="katip"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 4 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>4. ¿Cuál de los siguientes animales se mueve muy lento?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta4" name="pregunta4">
              <ion-item>
                <ion-label>Yantána</ion-label>
                <ion-radio slot="start" value="yantana"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Uyúsh</ion-label>
                <ion-radio slot="start" value="uyush"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 5 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>5. ¿Cuál de estos animales es conocido por tener muchas espinas?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta5" name="pregunta5">
              <ion-item>
                <ion-label>Kúru</ion-label>
                <ion-radio slot="start" value="kuru"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Kúshi</ion-label>
                <ion-radio slot="start" value="kushi"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 6 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>6. ¿Cuál de los siguientes es un animal herbívoro?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta6" name="pregunta6">
              <ion-item>
                <ion-label>Jápa</ion-label>
                <ion-radio slot="start" value="japa"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Chaí</ion-label>
                <ion-radio slot="start" value="chai"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 7 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>7. ¿Cuál de estos animales es conocido por su fuerza y tamaño?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta7" name="pregunta7">
              <ion-item>
                <ion-label>Waaka aíshmank</ion-label>
                <ion-radio slot="start" value="waaka"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Kawai</ion-label>
                <ion-radio slot="start" value="kawai"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 8 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>8. ¿Qué animal es conocido por ser una fuente común de carne en las
              festividades?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta8" name="pregunta8">
              <ion-item>
                <ion-label>Shiampach</ion-label>
                <ion-radio slot="start" value="shiampach"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Paapu</ion-label>
                <ion-radio slot="start" value="paapu"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 9 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>9. ¿Cuál de estos animales es conocido por ser un buen compañero de trabajo en el
              campo?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta9" name="pregunta9">
              <ion-item>
                <ion-label>Kawai</ion-label>
                <ion-radio slot="start" value="kawai"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Waaka aíshmank</ion-label>
                <ion-radio slot="start" value="waaka"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 10 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>10. ¿Qué animal se asocia frecuentemente con la producción de huevos?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta10" name="pregunta10">
              <ion-item>
                <ion-label>Shiampach</ion-label>
                <ion-radio slot="start" value="shiampach"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Paapu</ion-label>
                <ion-radio slot="start" value="paapu"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <ion-button expand="full" type="submit">Enviar Respuestas</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Modal para mostrar el puntaje -->
  <div id="ventanaPuntaje" class="ventana-emergente" [ngClass]="{'mostrar': mostrarVentana}">
    <div class="contenido-ventana">
      <h2>Puntaje Final</h2>
      <p>Tu puntaje es: {{ puntaje }} de 10</p>
      <ion-button (click)="cerrarVentana()">Cerrar</ion-button>
    </div>
  </div>
</ion-content>