<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <i class='bx bx-log-out-circle icon'></i>
      </ion-button>
    </ion-buttons>
    <ion-title>Desafío 1: Saludos en Español</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="text-center">Evaluación de Saludos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="enviarRespuestas()">
        <!-- Pregunta 1 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>1. ¿Cómo se dice "Hola" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta1" name="pregunta1">
              <ion-item>
                <ion-label>Hello</ion-label>
                <ion-radio slot="start" value="hello"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Goodbye</ion-label>
                <ion-radio slot="start" value="goodbye"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 2 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>2. ¿Cómo respondes a "¿Cómo estás?"?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta2" name="pregunta2">
              <ion-item>
                <ion-label>Bien, gracias</ion-label>
                <ion-radio slot="start" value="bien"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hasta luego</ion-label>
                <ion-radio slot="start" value="adios"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 3 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>3. Completa la frase: "Buenos ____".</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta3" name="pregunta3">
              <ion-item>
                <ion-label>Días</ion-label>
                <ion-radio slot="start" value="dias"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Noches</ion-label>
                <ion-radio slot="start" value="noches"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 4 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>4. ¿Qué significa "Adiós" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta4" name="pregunta4">
              <ion-item>
                <ion-label>Goodbye</ion-label>
                <ion-radio slot="start" value="goodbye"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hello</ion-label>
                <ion-radio slot="start" value="hello"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 5 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>5. ¿Cómo se dice "Buenas noches" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta5" name="pregunta5">
              <ion-item>
                <ion-label>Goodnight</ion-label>
                <ion-radio slot="start" value="goodnight"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Good morning</ion-label>
                <ion-radio slot="start" value="goodmorning"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 6 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>6. Completa la frase: "Buenas ____".</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta6" name="pregunta6">
              <ion-item>
                <ion-label>Tardes</ion-label>
                <ion-radio slot="start" value="tardes"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Manos</ion-label>
                <ion-radio slot="start" value="manos"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 7 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>7. ¿Cómo se despide una persona en shuar formalmente?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta7" name="pregunta7">
              <ion-item>
                <ion-label>Hasta luego</ion-label>
                <ion-radio slot="start" value="hastaluego"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Adiós</ion-label>
                <ion-radio slot="start" value="adios"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 8 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>8. ¿Cómo preguntas a alguien "¿Qué tal?"?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta8" name="pregunta8">
              <ion-item>
                <ion-label>¿Qué tal?</ion-label>
                <ion-radio slot="start" value="quetal"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>¿Cómo te llamas?</ion-label>
                <ion-radio slot="start" value="comotellamas"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 9 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>9. ¿Cómo se dice "Hasta pronto" en Shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta9" name="pregunta9">
              <ion-item>
                <ion-label>See you soon</ion-label>
                <ion-radio slot="start" value="seeYouSoon"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Goodbye</ion-label>
                <ion-radio slot="start" value="goodbye"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <!-- Pregunta 10 -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>10. ¿Cómo se dice "Hola, ¿cómo te llamas?" en shuar?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-radio-group [(ngModel)]="respuestas.pregunta10" name="pregunta10">
              <ion-item>
                <ion-label>Hello, what's your name?</ion-label>
                <ion-radio slot="start" value="helloName"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Good morning</ion-label>
                <ion-radio slot="start" value="goodMorning"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-card-content>
        </ion-card>

        <ion-button expand="full" type="submit">Enviar Respuestas</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <!-- Modal para mostrar el puntaje -->
  <div id="ventanaPuntaje" class="ventana-emergente" [ngClass]="{'mostrar': mostrarVentana}">
    <div class="contenido-ventana">
      <h2>Puntaje Final</h2>
      <p>Tu puntaje es: {{ puntaje }} de 10</p>
      <ion-button (click)="cerrarVentana()">Cerrar</ion-button>
    </div>
  </div>
</ion-content>